/Firmware/adi_study_watch/nrf5_sdk_15.2.0/adi_study_watch/tst/lfs/ses/Output/ADI_project Release/Obj
/Firmware/adi_study_watch/nrf5_sdk_15.2.0/adi_study_watch/tst/lfs/ses/Output/Release/Exe
/Firmware/adi_study_watch/nrf5_sdk_15.2.0/adi_study_watch/tst/lfs/ses/Output
/Firmware/adi_study_watch/nrf5_sdk_15.2.0/nRF5x_MDK_8_17_0_Keil4_NordicLicense.msi
/Firmware/adi_study_watch/nrf5_sdk_15.2.0/nRF5x_MDK_8_17_0_IAR_NordicLicense.msi
